<div class="container">
    <h1 class="mx-auto d-block txt text-center">About Page</h1>

<div class="row d-flex justify-content-center">
    <div class="col-sm-6 box background">
        <div class="row">
            <div class="col-sm-12">
                <img src="../../../assets/qassar.jpg" class="qassar mx-auto d-block">
            </div>
            <div class="col-sm-10 mx-auto d-block txt"><strong>Name:</strong> Qassar Yassine <br>
                <strong>Neptun id:</strong> FB91W3 <br>
                <strong>Email address:</strong> yassine.qassar@gmail.com<br>
                <strong>Portfolio:</strong> <a href="https://yassineqassar.me/" target="_blank">https://yassineqassar.me/</a><br></div>
        </div>
    </div>

    
</div>
</div>


